<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="testngTest" parallel="methods" thread-count="4">
        <packages>
            <package name="com.edu.tests"/>
        </packages>
<!--        <classes>-->
<!--            <class name="com.edu.tests" />-->
<!--        </classes>-->
    </test>
</suite>